node_modules/
dist/
build/
out/
*.db
*.sqlite
*.sqlite3
.env
.DS_Store
.vscode/
.idea/
npm-debug.log
yarn-error.log
coverage/
*.lognode_modules/
dist/
build/
.cache/
.env
*.log
/.vscode/
**/Thumbs.db
**/desktop.ini
node_modules/
dist/
.cache/
.DS_Store
.env
*.tgz
build/
gcashpos.db
