node_modules/
dist/
build/*
!build/icons/
!build/icons/**
out/
*.db
*.sqlite
*.sqlite3
.env
.DS_Store
.vscode/
.idea/
.cache/
npm-debug.log
yarn-error.log
*.log
coverage/
*.tgz
gcashpos.db
**/Thumbs.db
**/desktop.ini
